.App {
  margin-left: 10%;
  margin-top: 5vh;
  font-size: larger;
}

.input {
  display: inline-flex;
}

input {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 30px 10px 10px;
  font-size: large;
}

button {
  background-color: rgb(31, 113, 221);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: large;
}